<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{.Title}}</title>
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/common.css">
        <link rel="stylesheet" href="/styles/jquery-ui.min.css">
        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="/styles/bootstrap/js/bootstrap.min.js"></script>
        <script src="/styles/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" >Calculator</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <!--<a class="nav-link" >Home <span class="sr-only">(current)</span></a>-->
                    </li>
                    <li class="nav-item">
                        <!--<a class="nav-link" >Features</a>-->
                    </li>
                    <li class="nav-item">
                        <!--<a class="nav-link" >Pricing</a>-->
                    </li>
                    <li class="nav-item">
                        <!--<a class="nav-link disabled" >Disabled</a>-->
                    </li>
                </ul>

                <div class="btn-group" role="group" aria-label="Language switcher">
                    <button type="button" class="btn {{if eq .Language "en"}} btn-primary {{else}} btn-secondary {{end}}" data-language="en">En</button>
                    <button type="button" class="btn {{if eq .Language "ru"}} btn-primary {{else}} btn-secondary {{end}}" data-language="ru">Ru</button>
                </div>

                 <div class="btn-group" role="group" aria-label="Currency switcher" style="margin-left:1.5%">
                    <button type="button" class="btn {{if eq .Currency "usd"}} btn-primary {{else}} btn-secondary {{end}}" data-currency="usd">$</button>
                    <button type="button" class="btn {{if eq .Currency "rub"}} btn-primary {{else}} btn-secondary {{end}}" data-currency="rub">₽</button>
                </div>
            </div>
        </nav>

        <div class="container" style="margin-top:3%">
            <div class="card">
                <div class="card-header">
                    <h4>{{.CalculatorTitle}}</h4>
                </div>

                <!-- Calculator navigagion -->
                <div class="card-block" style="margin:1%">
                    <!-- Nav tabs -->
                    <ul id="chart-tabs" class="nav nav-tabs" role="tablist" style="display: none">
                        <li class="nav-item" id="profit-currency-tab">
                            <a class="nav-link active" data-toggle="tab" href="#profit-currency" role="tab"></a>
                        </li>

                        <li class="nav-item" id="profit-tab">
                            <a class="nav-link " data-toggle="tab" href="#profit" role="tab"></a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="profit-currency" role="tabpanel">
                            <div id="currency-chart" style="display: none; height: 60%"></div>
                        </div>
                        <div class="tab-pane " id="profit" role="tabpanel">
                            <!-- Div for profit chart -->
                            <div id="chart" style="display: none; height: 60%"></div>
                        </div>
                    </div>
                    <div style="overflow-x: auto; width:100%">
                    <table class="table" id="detalization-table" style="display:none; overflow: auto;">
                        <thead>
                            <tr>
                                <th>{{.Period}}</th>
                                <th id="profit-cryptocurrency"></th>
                                <th>{{.ProfitPerPeriod}} {{.CurrencySmb}}</th>
                                <th id="total-profit-cryptocurrency"></th>
                                <th>{{.TotalProfit}} {{.CurrencySmb}}</th>
                                <th>{{.PowerCosts}} {{.CurrencySmb}}</th>
                                <th>{{.TotalPowerCosts}} {{.CurrencySmb}}</th>
                            </tr>
                        </thead>
                        <tbody id="detalization-body">
                            
                        </tbody>
                    </table>
                    </div>
                    
                    <!-- Form for ethereum neural network calculator parametrs -->
                    <form class="" style="margin-top:2%">
                        <div class="row">
                            <div class="offset-lg-2 col-lg-8 form-group" >
                                <label class="form-control-label" for="crypt-choice">{{.Cryptocurrency}}:</label><br/>
                                <div id="crypt-choice" class="btn-group from-control" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" name="crypt-options" data-request-path="ethereum_profit" autocomplete="off" checked> Ethereum
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" name="crypt-options" data-request-path="zcash_profit" autocomplete="off"> Zcash
                                    </label>
                                </div>                          
                                <br/>
                                
                          <!--      <label class="form-control-label" for="datepicker-div">Start date:</label>
                                <div id="datepciker-div" class="form-inline">
                                    <input  type="text" id="datepicker" class="form-control" style="position: relative; z-index: 100000">
                                </div>
                                <small>sdfsfdsdfdf</small><br/>
-->
                                <label class="form-control-label" for="hashrate-from-gpu">{{.HashrateSource}}:</label><br/>
                                <div id="hashrate-source-choice" class="btn-group from-control" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" name="hashrate-source-options" data-source="gpu" autocomplete="off" checked> GPU
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" name="hashrate-source-options" data-source="pool" autocomplete="off"> {{.Pool}}
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" name="hashrate-source-options" data-source="manually" autocomplete="off"> {{.ManualInput}}
                                    </label>
                                </div>

                                <br/>
                                <label class="form-control-label" for="hashrate-from-gpu">GPU:</label>
                                <div id="hashrate-from-gpu" class="form-inline">
                                    <div class="dropdown">
                                        <button id="gpu-choice" data-hashrate="" data-gpu="" data-default-text="{{.YourGPU}}" class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-gpu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{.YourGPU}}
                                        </button>
                                        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdown-gpu">
                                            {{range $key, $value := .EthereumHashrates}}
                                            <a class="dropdown-item"  data-hashrate="{{$value}}" data-gpu="{{$key}}" data-mining="ethereum">{{$key}}</a>
                                            {{end}}
                                            {{range $key, $value := .ZcashHashrates}}
                                            <a class="dropdown-item"  data-hashrate="{{$value}}" data-gpu="{{$key}}" data-mining="zcash" style="display: none">{{$key}}</a>
                                            {{end}}
                                        </div>
                                    </div>
                                    <div class="input-group" style="margin-left:0.75%">
                                        <span class="input-group-btn">
                                            <button id="spinner-dec" class="btn btn-danger" type="button"><b>‒</b></button>
                                        </span>
                                        <span id="spinner-count" class="input-group-addon" data-spinner-count="1">1</span>
                                        <span class="input-group-btn">
                                            <button id="spinner-inc" class="btn btn-primary" type="button"><b>+</b></button>
                                        </span>
                                    </div>

                                    <button type="button" class="btn btn-primary" id="add-gpu-hashrate" style="margin-left:2%">{{.AddGPU}}</button>
                                    <button type="button" class="btn btn-danger" id="delete-gpu-hashrate" style="margin-left:2%">{{.DeleteGPU}}</button>
                                </div>

                                <select id="chosen-gpu" class="form-control"  size="3" style="margin-top:2%">
                                </select>

                                <label class="form-control-label" for="hashrate-from-pool" style="display:none">{{.GetHashrateFromPool}}:</label>
                                <div id="hashrate-from-pool" class="form-inline" style="display:none">
                                    <input type="text" id="miner-uri" class="form-control" placeholder="{{.MinersURI}}"/>
                                    <button id="get-pool-hashrate" type="button" class="btn btn-primary" style="margin-left:2%">{{.GetHashrate}}</button>
                                </div>
                                
                                <label class="form-control-label" for="hashrate-ethereum-year">Hashrate:</label>
                                <input type="text" id="hashrate" class="form-control" placeholder="Hashrate H/s"/>
                                <small>{{.HashrateNotification}}</small><br/>

                                <label class="form-control-label" for="power-consumption-ethereum">{{.PowerConsumption}}:</label>
                                <input type="text" id="power-consumption" class="form-control" placeholder="{{.PowerConsumption}}"/>
                                
                                <label class="form-control-label" for="power-cost-ethereum">{{.PowerCost}} ({{.CurrencySmb}}):</label>
                                <input type="text" id="power-cost" class="form-control" Value="{{.PowerCostDefault}}" placeholder="{{.PowerCost}} ({{.CurrencySmb}})"/>
                                
                                <label class="form-control-label" for="initial-investment-ethereum">{{.InitialInvestment}} ({{.CurrencySmb}}):</label>
                                <input type="text" id="initial-investment" class="form-control" placeholder="{{.InitialInvestment}} ({{.CurrencySmb}})"/>
                                
                                <button id="calculate" type="button" class="btn btn-primary" style="margin-top:2%">{{.Calculate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

    <script>
        var gpu_hashrate = 0;
        var pool_hashrate = 0;
        var manual_hashrate = 0;
        var user_input = {
            eth_input: {
                "chosen-gpu": "",
                "hashrate": "",
                "miner-uri": "",
                "gpu-choice_data-hashrate": "",
                "gpu-choice_data-gpu": "",
                "gpu_hashrate": 0,
                "pool_hashrate": 0,
                "manual_hashrate": 0,
                "power-consumption": "",
                "power-cost": "{{.PowerCostDefault}}",
                "initial-investment": "",
                "hashrate-source": "gpu"
            }, 
            zec_input: {
                "chosen-gpu": "",
                "hashrate": "",
                "miner-uri": "",
                "gpu-choice_data-hashrate": "",
                "gpu-choice_data-gpu": "",
                "gpu_hashrate": 0,
                "pool_hashrate": 0,
                "manual_hashrate": 0,
                "power-consumption": "",
                "power-cost": "{{.PowerCostDefault}}",
                "initial-investment": "",
                "hashrate-source": "gpu"
            }
        };

        $( function() {
            $( "#datepicker" ).datepicker();
            // $('.ui-datepicker').css("width", "100%");
        } );

        $(document).ready(function() {
            var ready_eth = false;
            var ready_zec = false;
            var cryptocurrency = "eth";
            var req1 = $.get("/restore_from_session", {prefix: "eth_"}, function(resp) {
                var resp_obj     = $.parseJSON(resp);
                user_input.eth_input["chosen-gpu"] = resp_obj["chosen-gpu"];
                user_input.eth_input["hashrate"] = resp_obj["hashrate"];
                user_input.eth_input["miner-uri"] = resp_obj["miner-uri"];
                user_input.eth_input["gpu-choice_data-hashrate"] = resp_obj["gpu-choice_data-hashrate"];
                user_input.eth_input["gpu-choice_data-gpu"] = resp_obj["gpu-choice_data-gpu"];
                user_input.eth_input["gpu_hashrate"] = resp_obj["gpu_hashrate"];
                user_input.eth_input["pool_hashrate"] = resp_obj["pool_hashrate"];
                user_input.eth_input["manual_hashrate"] = resp_obj["manual_hashrate"];
                user_input.eth_input["power-consumption"] = resp_obj["power-consumption"];
                user_input.eth_input["hashrate-source"] = resp_obj["hashrate-source"];
                if (resp_obj["power-cost"] != undefined)
                    user_input.eth_input["power-cost"] = resp_obj["power-cost"];
                user_input.eth_input["initial-investment"] = resp_obj["initial-investment"];
                gpu_hashrate = user_input.eth_input["gpu_hashrate"];
                pool_hashrate = user_input.eth_input["pool_hashrate"];
                manual_hashrate = user_input.eth_input["manual_hashrate"];
                
                $("#chosen-gpu").html(user_input.eth_input["chosen-gpu"]);
                $("#hashrate").val(user_input.eth_input["hashrate"]);
                $("#miner-uri").val(user_input.eth_input["miner-uri"]);
                $("#gpu-choice").attr("data-hashrate", user_input.eth_input["gpu-choice_data-hashrate"]);
                $("#gpu-choice").attr("data-gpu", user_input.eth_input["gpu-choice_data-gpu"]);
                if (user_input.eth_input["gpu-choice_data-gpu"] == "")
                    $("#gpu-choice").text($("#gpu-choice").attr("data-default-text"));
                else
                    $("#gpu-choice").text(user_input.eth_input["gpu-choice_data-gpu"]);

                $("#power-consumption").val(user_input.eth_input["power-consumption"]);
                $("#power-cost").val(user_input.eth_input["power-cost"]);
                $("#initial-investment").val(user_input.eth_input["initial-investment"]);

                switch (user_input.eth_input["hashrate-source"]) {
                case "gpu":
                    $('input[data-source="gpu"]').parent().button('toggle');
                    break;
                case "pool":
                    $('input[data-source="pool"]').parent().button('toggle');                
                    break;
                case "manually":
                    $('input[data-source="manually"]').parent().button('toggle');
                    break;
                }

                cryptocurrency = resp_obj["cryptocurrency"];
                ready_eth = true;
            });

            var req2 = $.get("/restore_from_session", {prefix: "zec_"}, function(resp) {
                var resp_obj = $.parseJSON(resp);
                user_input.zec_input["chosen-gpu"] = resp_obj["chosen-gpu"];
                user_input.zec_input["hashrate"] = resp_obj["hashrate"];
                user_input.zec_input["miner-uri"] = resp_obj["miner-uri"];
                user_input.zec_input["gpu-choice_data-hashrate"] = resp_obj["gpu-choice_data-hashrate"];
                user_input.zec_input["gpu-choice_data-gpu"] = resp_obj["gpu-choice_data-gpu"];
                user_input.zec_input["gpu_hashrate"] = resp_obj["gpu_hashrate"];
                user_input.zec_input["pool_hashrate"] = resp_obj["pool_hashrate"];
                user_input.zec_input["manual_hashrate"] = resp_obj["manual_hashrate"];
                user_input.zec_input["power-consumption"] = resp_obj["power-consumption"];
                if (resp_obj["power-cost"] != undefined)
                    user_input.zec_input["power-cost"] = resp_obj["power-cost"];
                user_input.zec_input["initial-investment"] = resp_obj["initial-investment"];
                user_input.zec_input["hashrate-source"] = resp_obj["hashrate-source"];

                cryptocurrency = resp_obj["cryptocurrency"];
                ready_zec = true;
            });

            $.when(req1, req2).done(function() {
                if (cryptocurrency == "eth")
                    $('input[data-request-path="ethereum_profit"]').parent().button('toggle');
                else
                    $('input[data-request-path="zcash_profit"]').parent().button('toggle');
            });
        });

        google.charts.load('current', {'packages':['corechart']});
        var crypto_data = null;
        var crypto_currency_data = null;
        var profit_str = "{{.Profit}} ";
        var currency_smb = "{{.CurrencySmb}}";
        var options = {
        title: "Density of Precious Metals, in g/cm^3",
        bar: {groupWidth: "95%"},
      };
  
        $(window).resize(function() {
            if(this.resizeTO) clearTimeout(this.resizeTO);
            this.resizeTO = setTimeout(function() {
                $(this).trigger('resizeEnd');
            }, 0);
        });

        $(window).on('resizeEnd', function() {
            draw_charts();
        });

        $(document).on("shown.bs.tab", "#profit-tab, #profit-currency-tab", function () {
            draw_charts();
        });

        function month_to_string(number) {
            switch (number) {
                case 0:
                    return "Jan";
                case 1:
                    return "Feb";
                case 2:
                    return "Mar";
                case 3:
                    return "Apr";
                case 4:
                    return "May";
                case 5:
                    return "Jun";
                case 6:
                    return "Jul";
                case 7:
                    return "Aug";
                case 8:
                    return "Sep";
                case 9:
                    return "Oct";
                case 10:
                    return "Nov";
                case 11:
                    return "Dec";
            }

            return "";
        }

        function draw_charts() {
            if (crypto_data == null || crypto_currency_data == null)
                return;

            var crypto_view = new google.visualization.DataView(crypto_data);
            var crypto_chart = new google.visualization.LineChart(document.getElementById('chart'));                
            $("#chart").css("display", "");
            crypto_chart.draw(crypto_view, null);

            var crypto_currency_chart = new google.visualization.LineChart(document.getElementById('currency-chart'));                
            $("#currency-chart").css("display", "");
            var crypto_currency_view = new google.visualization.DataView(crypto_currency_data);
            crypto_currency_chart.draw(crypto_currency_data, null);
        }

        $("#calculate").click(function() {
            var request_path = $('input[name="crypt-options"]:checked').attr("data-request-path");
            $.get(request_path, { hashrate: $("#hashrate").val() }, function(resp) {
                var resp_obj = $.parseJSON(resp)

                var initial_investment = parseFloat($("#initial-investment").val());
                initial_investment = isNaN(initial_investment)? 0 : initial_investment;
                var power_consumption = parseFloat($("#power-consumption").val());
                power_consumption = isNaN(power_consumption)? 0 : power_consumption;
                var power_cost = parseFloat($("#power-cost").val());
                power_cost = isNaN(power_cost)? 0 : power_cost;
                
                var speed = resp_obj["speed"];
                var price = resp_obj["price"];
                var rate = resp_obj["rate"];
                
                var day_len = 24 * 60 * 60 * 1000;
                var date_now = new Date();
                var time_offset = date_now.getTimezoneOffset()  * 60 * 1000;
                var unix_now = date_now.getTime();
                
                var unix_curr = unix_now + day_len - unix_now % day_len + time_offset;
                var curr_date = new Date(unix_curr);
                
                var curr_month = date_now.getMonth();
                var month_name = month_to_string(curr_month);
                var year = date_now.getFullYear();

                var profit = speed[0] * (unix_curr - unix_now) / 1000;
                var power_costs_speed = power_consumption * power_cost / 1000;
                var power_costs = power_costs_speed * (unix_curr - unix_now)  / 1000 / 60 / 60;
                var power_costs_total = power_costs;
                var profit_currency = profit * price / rate - 
                     power_costs_speed * (unix_curr - unix_now) / 1000 / 60 / 60;
                var profit_total = 0;
                var profit_currency_total = -initial_investment;

                crypto_data = new google.visualization.DataTable();
                crypto_data.addColumn('string', 'Month');
                crypto_data.addColumn('number', '{{.Profit}}');

                crypto_currency_data = new google.visualization.DataTable();
                crypto_currency_data.addColumn('string', 'Month');
                crypto_currency_data.addColumn('number', '{{.Profit}}');
                crypto_currency_data.addColumn({type: 'string', role: 'style'});
                crypto_currency_data.addColumn('number', '{{.ProfitPerPeriod}}');
                crypto_currency_data.addColumn({type: 'string', role: 'style'});
                crypto_currency_data.addRow(["At the begining", -initial_investment, "red", 0, "blue"]);
                var detalization = new Array();
                var start_date = new Date(date_now.getTime());  
                
                var count = 1;              
                while (true) {
                    if (curr_date.getMonth() != curr_month) {
                        profit_total += profit;
                        crypto_data.addRow([ 
                            month_name + " " + year,
                            profit_total
                        ]);

                        profit_currency_total += profit_currency;
                        var color = "red";
                        if (profit_currency_total > 0)
                            color = "green";
                        crypto_currency_data.addRow([
                             month_name + " " + year,
                            profit_currency_total,
                            color,
                            profit_currency,
                            "blue"
                        ]);
                        
                        power_costs_total += power_costs;
                        detalization.push({
                            month: month_name, 
                            from: start_date.getDate(),
                            to: new Date(start_date.getFullYear(), start_date.getMonth() + 1, 0).getDate(),
                            year: year,
                            profit: profit,
                            profit_total: profit_total,
                            profit_currency: profit_currency,
                            profit_currency_total: profit_currency_total,
                            power_costs: power_costs,
                            power_costs_total: power_costs_total
                        });
                        
                        profit = profit_currency = power_costs = 0;
                        curr_month = curr_date.getMonth();
                        year = curr_date.getFullYear();
                        month_name = month_to_string(curr_month);
                        start_date = new Date(curr_date.getTime());
                    }

                    curr_date = new Date(curr_date.getTime() + day_len);                                                       

                    if (curr_date.getDate() == date_now.getDate() &&
                        curr_date.getMonth() == date_now.getMonth())
                        break;

                    var dayly_profit = 24*60*60*speed[count];
                    profit += dayly_profit;
                    power_costs += power_costs_speed * 24;
                    profit_currency += dayly_profit * price / rate - power_costs_speed * 24;
                    count++;
                }

                profit += speed[364] * (unix_now % day_len) / 1000;
                profit_currency += profit * price / rate - power_costs_speed * (unix_now % day_len) / 1000 / 60 / 60;
                power_costs += power_costs_speed * (unix_now % day_len)  / 1000 / 60 / 60;
                power_costs_total += power_costs;
                
                profit_total += profit;
                profit_currency_total += profit_currency;

                detalization.push({
                    month: month_name, 
                    from: 1,
                    to: date_now.getDate(),
                    profit: profit,
                    year: year,
                    profit_total: profit_total,
                    profit_currency: profit_currency,
                    profit_currency_total: profit_currency_total,
                    power_costs: power_costs,
                    power_costs_total: power_costs_total
                });
                
                crypto_data.addRow([ 
                    month_name + " " + year,
                    profit_total
                ]);

                var color = "red";
                if (profit_currency_total > 0)
                    color = "green";
                crypto_currency_data.addRow([
                    month_name + " " + year,
                    profit_currency_total,
                    color,
                    profit_currency,
                    "blue"
                ]);

                var detalization_body = $("#detalization-body");
                detalization_body.empty();
                detalization_body.append("<tr><td>At the begining</td>"
                                    +"<td></td><td></td><td></td><td>" + -initial_investment +
                                    " ({{.InitialInvestment}})</td><td></td></tr>");
                for (var i = 0; i < detalization.length; i++) {
                    var tr = $("<tr></tr>");
                    var info = detalization[i];
                    tr.attr("scope", "row");
                    var month = $("<td>" + info.from + "-" + info.to + " " + info.month + " " +
                        info.year +  "</td>");
                    var profit = $("<td>" + info.profit.toFixed(5) +"</td>");
                    var profit_currency = $("<td>" + info.profit_currency.toFixed(5) +"</td>");
                    var profit_total = $("<td>" + info.profit_total.toFixed(5) +"</td>");
                    var profit_currency_total = $("<td>" + info.profit_currency_total.toFixed(5) +"</td>");
                    if (info.profit_currency_total < 0) 
                        profit_currency_total.css("color", "red");
                    else if (info.profit_currency_total > 0)
                        profit_currency_total.css("color", "green");
                    var power_costs = $("<td>" + info.power_costs.toFixed(5) +"</td>");
                    var power_costs_total = $("<td>" + info.power_costs_total.toFixed(5) +"</td>");

                    tr.append(month);
                    tr.append(profit);
                    tr.append(profit_currency);
                    tr.append(profit_total);
                    tr.append(profit_currency_total);
                    tr.append(power_costs);
                    tr.append(power_costs_total);
                    detalization_body.append(tr);
                }
                
                if (request_path == "ethereum_profit") {
                    $("#profit-cryptocurrency").text("{{.ProfitPerPeriod}} ETH");
                    $("#total-profit-cryptocurrency").text("{{.TotalProfit}} ETH");
                    $("a[href='#profit']").text(profit_str + "ETH");
                } else {
                    $("#profit-cryptocurrency").text("{{.ProfitPerPeriod}} ZEC");
                    $("#total-profit-cryptocurrency").text("{{.TotalProfit}} ZEC");
                    $("a[href='#profit']").text(profit_str + "ZEC");
                }

                $("a[href='#profit-currency']").text(profit_str + currency_smb);
                $("#chart-tabs").css("display", "");
                $("#detalization-table").css("display", "");
                draw_charts();
                
                var obj={}, prefix;
                if (request_path == "ethereum_profit") {
                    prefix = "eth_";
                    user_input.eth_input["chosen-gpu"] = $("#chosen-gpu").html();
                    user_input.eth_input["hashrate"] = $("#hashrate").val(); 
                    user_input.eth_input["miner-uri"] = $("#miner-uri").val();
                    user_input.eth_input["gpu-choice_data-hashrate"] =  $("#gpu-choice").attr("data-hashrate");
                    user_input.eth_input["gpu-choice_data-gpu"] = $("#gpu-choice").attr("data-gpu");
                    user_input.eth_input["gpu_hashrate"] = gpu_hashrate;
                    user_input.eth_input["pool_hashrate"] = pool_hashrate;
                    user_input.eth_input["manual_hashrate"] = manual_hashrate;
                    user_input.eth_input["power-consumption"] = $("#power-consumption").val();
                    user_input.eth_input["power-cost"] = $("#power-cost").val();
                    user_input.eth_input["initial-investment"] = $("#initial-investment").val();
                    user_input.eth_input["hashrate-source"] = $('input[name="hashrate-source-options"]:checked').
                        attr("data-source");
                    obj[prefix+"chosen-gpu"] = user_input.eth_input["chosen-gpu"];
                    obj[prefix+"hashrate"] = user_input.eth_input["hashrate"];
                    obj[prefix+"miner-uri"] = user_input.eth_input["miner-uri"];
                    obj[prefix+"gpu-choice_data-hashrate"] = user_input.eth_input["gpu-choice_data-hashrate"];
                    obj[prefix+"gpu-choice_data-gpu"] = user_input.eth_input["gpu-choice_data-gpu"];
                    obj[prefix+"gpu_hashrate"] = user_input.eth_input["gpu_hashrate"];
                    obj[prefix+"pool_hashrate"] = user_input.eth_input["pool_hashrate"];
                    obj[prefix+"manual_hashrate"] = user_input.eth_input["manual_hashrate"];
                    obj[prefix+"power-consumption"] = user_input.eth_input["power-consumption"];
                    obj[prefix+"power-cost"] = user_input.eth_input["power-cost"];
                    obj[prefix+"initial-investment"] = user_input.eth_input["initial-investment"];
                    obj[prefix+"hashrate-source"]=user_input.eth_input["hashrate-source"];
                    obj["cryptocurrency"] = "eth";
                } else {
                    prefix = "zec_";
                    user_input.zec_input["chosen-gpu"] = $("#chosen-gpu").html();
                    user_input.zec_input["hashrate"] = $("#hashrate").val(); 
                    user_input.zec_input["miner-uri"] = $("#miner-uri").val();
                    user_input.zec_input["gpu-choice_data-hashrate"] =  $("#gpu-choice").attr("data-hashrate");
                    user_input.zec_input["gpu-choice_data-gpu"] = $("#gpu-choice").attr("data-gpu");
                    user_input.zec_input["gpu_hashrate"] = gpu_hashrate;
                    user_input.zec_input["pool_hashrate"] = pool_hashrate;
                    user_input.zec_input["manual_hashrate"] = manual_hashrate;
                    user_input.zec_input["power-consumption"] = $("#power-consumption").val();
                    user_input.zec_input["power-cost"] = $("#power-cost").val();
                    user_input.zec_input["initial-investment"] = $("#initial-investment").val();
                    user_input.zec_input["hashrate-source"] = $('input[name="hashrate-source-options"]:checked').
                        attr("data-source");
                    obj[prefix+"chosen-gpu"] = user_input.zec_input["chosen-gpu"];
                    obj[prefix+"hashrate"] = user_input.zec_input["hashrate"];
                    obj[prefix+"miner-uri"] = user_input.zec_input["miner-uri"];
                    obj[prefix+"gpu-choice_data-hashrate"] = user_input.zec_input["gpu-choice_data-hashrate"];
                    obj[prefix+"gpu-choice_data-gpu"] = user_input.zec_input["gpu-choice_data-gpu"];
                    obj[prefix+"gpu_hashrate"] = user_input.zec_input["gpu_hashrate"];
                    obj[prefix+"pool_hashrate"] = user_input.zec_input["pool_hashrate"];
                    obj[prefix+"manual_hashrate"] = user_input.zec_input["manual_hashrate"];
                    obj[prefix+"power-consumption"] = user_input.zec_input["power-consumption"];
                    obj[prefix+"power-cost"] = user_input.zec_input["power-cost"];
                    obj[prefix+"initial-investment"] = user_input.zec_input["initial-investment"];
                    obj[prefix+"hashrate-source"]=user_input.zec_input["hashrate-source"];
                    obj["cryptocurrency"] = "zec";
                }

                obj["prefix"] = prefix;
                $.post("/save_to_session", obj); 
            });
        });

        $('button[data-language]').click(function(event) {
            var clicked$ = $(event.target);
            var lang = clicked$.attr("data-language");
            $.post("/set_language", {language: lang}, function() {
                location.reload();
            });
        });

        $('button[data-currency]').click(function(event) {
            var clicked$ = $(event.target);
            var currency = clicked$.attr("data-currency");
            $.post("/set_currency", {currency: currency}, function() {
                location.reload();
            });
        });

        $("#get-pool-hashrate").click(function(event) {
            var clicked$ = $(event.target);
            var miner_uri = $("#miner-uri").val();
            var idx = miner_uri.lastIndexOf("/");
            idx = (idx >= 0) ? idx + 1 : 0;
            var miner_id = miner_uri.substring(idx);
            if (miner_uri.indexOf("zcash.flypool.org") >= 0) {
                var get_uri = "https://api-zcash.flypool.org/miner/" + miner_id + "/history";
                $.get(get_uri, function(data) {
                    if (data["status"] == "OK") {
                        var miner_data = data["data"];
                        pool_hashrate = miner_data[miner_data.length - 1]["averageHashrate"];
                        $("#hashrate").val(pool_hashrate);
                    }
                });
            } else if (miner_uri.indexOf("ethermine.org") >= 0) {
                var get_uri = "https://api.ethermine.org/miner/" + miner_id + "/history";
                $.get(get_uri, function(data) {
                    if (data["status"] == "OK") {
                        var miner_data = data["data"];
                        pool_hashrate = miner_data[miner_data.length - 1]["averageHashrate"];
                        $("#hashrate").val(pool_hashrate);
                    }
                });
            } else 
                alert("Unsupported pool");
            /*case "zcash.flypool.org (ZEC)":
                // alert($("#miner-uri").val());
                
                var get_uri = "https://api-zcash.flypool.org/miner/" + miner_uri + "/history";
                $.get(get_uri, function(data) {
                    if (data["status"] == "OK") {
                        var miner_data = data["data"];
                        pool_hashrate = miner_data[miner_data.length - 1]["averageHashrate"];
                        $("#hashrate").val(pool_hashrate);
                    }
                });
                break;

            case "ethermine.org (ETH)":
                // alert($("#miner-uri").val());
                var get_uri = "https://api.ethermine.org/miner/" + miner_uri + "/history";
                $.get(get_uri, function(data) {
                    if (data["status"] == "OK") {
                        var miner_data = data["data"];
                        pool_hashrate = miner_data[miner_data.length - 1]["averageHashrate"];
                        $("#hashrate").val(pool_hashrate);
                    }
                });
                break;*/
        });

        $("#spinner-inc").click(function() {
            var spinner_count$ = $("#spinner-count")
            var value = parseInt(spinner_count$.attr("data-spinner-count")) + 1;
            spinner_count$.attr("data-spinner-count", value);
            spinner_count$.text(value);
        });

        $("#spinner-dec").click(function() {
            var spinner_count$ = $("#spinner-count")
            var value = parseInt(spinner_count$.attr("data-spinner-count"));
            if (value > 1)
                value--;
            spinner_count$.attr("data-spinner-count", value);
            spinner_count$.text(value);
        });

        $("a[data-gpu]").click(function(event) {
            var clicked$ = $(event.target);
            var gpu = clicked$.attr("data-gpu");
            var hashrate = clicked$.attr("data-hashrate");
            $("#gpu-choice").text(gpu);
            $("#gpu-choice").attr("data-hashrate", hashrate);
            $("#gpu-choice").attr("data-gpu", gpu);
        });

        $("#add-gpu-hashrate").click(function(event) {
            var clicked$ = $(event.target);
            var hashrate = parseFloat($("#gpu-choice").attr("data-hashrate"));
            var count = parseInt($("#spinner-count").attr("data-spinner-count"));
            var gpu = $("#gpu-choice").attr("data-gpu");
            if (gpu == "")
                return;                        
            var select = $("#chosen-gpu");
            for (var i = 0; i < count; i++) {
                var option = $("<option>" + gpu + "</option>");
                option.attr("id", "option-" + gpu + "-" + i);
                option.attr("data-hashrate", hashrate);
                select.append(option);
            }
            if (hashrate > 0) {
                gpu_hashrate += hashrate
                $("#hashrate").val(gpu_hashrate);
            }
        });

        $('input[name="crypt-options"]').change(function() {
            var data = $('input[name="crypt-options"]:checked').attr("data-request-path");
            var curr_user_input = {};
            var prev_user_input;

            curr_user_input["chosen-gpu"] = $("#chosen-gpu").html();
            curr_user_input["hashrate"] = $("#hashrate").val(); 
            curr_user_input["miner-uri"] = $("#miner-uri").val();
            curr_user_input["gpu-choice_data-hashrate"] =  $("#gpu-choice").attr("data-hashrate");
            curr_user_input["gpu-choice_data-gpu"] = $("#gpu-choice").attr("data-gpu");
            curr_user_input["gpu_hashrate"] = gpu_hashrate;
            curr_user_input["pool_hashrate"] = pool_hashrate;
            curr_user_input["manual_hashrate"] = manual_hashrate;
            curr_user_input["power-consumption"] = $("#power-consumption").val();
            curr_user_input["power-cost"] = $("#power-cost").val();
            curr_user_input["initial-investment"] = $("#initial-investment").val();
            curr_user_input["hashrate-source"] = $('input[name="hashrate-source-options"]:checked').
                attr("data-source");
            
            switch (data) {
            case "ethereum_profit":
                $('*[data-mining="ethereum"]').css("display", "");
                $('*[data-mining="zcash"]').css("display", "none");
                prev_user_input = user_input.eth_input;
                user_input.zec_input = curr_user_input;
                break;
            case "zcash_profit":
                $('*[data-mining="ethereum"]').css("display", "none");
                $('*[data-mining="zcash"]').css("display", "");
                prev_user_input = user_input.zec_input
                user_input.eth_input = curr_user_input;
                break;
            }

            gpu_hashrate = prev_user_input["gpu_hashrate"];
            pool_hashrate = prev_user_input["pool_hashrate"];
            manual_hashrate = prev_user_input["manual_hashrate"];
            $("#chosen-gpu").html(prev_user_input["chosen-gpu"]);
            $("#hashrate").val(prev_user_input["hashrate"]);
            $("#miner-uri").val(prev_user_input["miner-uri"]);
            $("#gpu-choice").attr("data-hashrate", prev_user_input["gpu-choice_data-hashrate"]);
            $("#gpu-choice").attr("data-gpu", prev_user_input["gpu-choice_data-gpu"]);
            if (prev_user_input["gpu-choice_data-gpu"] == "")
                $("#gpu-choice").text($("#gpu-choice").attr("data-default-text"));
            else
                $("#gpu-choice").text(prev_user_input["gpu-choice_data-gpu"]);
            
            $("#power-consumption").val(prev_user_input["power-consumption"]);
            $("#power-cost").val(prev_user_input["power-cost"]);
            $("#initial-investment").val(prev_user_input["initial-investment"]);

            var hashrate_source = prev_user_input["hashrate-source"];
            switch (hashrate_source) {
            case "gpu":
                $('input[data-source="gpu"]').parent().button('toggle');
                break;
            case "pool":
                $('input[data-source="pool"]').parent().button('toggle');                
                break;
            case "manually":
                $('input[data-source="manually"]').parent().button('toggle');
                break;
            } 
        });

        $('input[name="hashrate-source-options"]').change(function() {
            var data = $('input[name="hashrate-source-options"]:checked').attr("data-source");
            switch (data) {
            case "gpu":
                // $("#add-gpu-hashrate").removeAttr("disabled");
                $("div[id='hashrate-from-gpu']," +
                    "label[for='hashrate-from-gpu']," +
                    "#chosen-gpu").css("display", "");
                $("div[id='hashrate-from-pool']," +
                    "label[for='hashrate-from-pool']," +
                    "#chosen-gpu").css("display", "none");
                // $("#delete-gpu-hashrate").removeAttr("disabled");
                // $("#get-pool-hashrate").attr("disabled",true);
                $("#hashrate").attr("disabled", true);
                if (gpu_hashrate > 0) 
                    $("#hashrate").val(gpu_hashrate);
                else   
                    $("#hashrate").val("");
                break;
            case "pool":
               /* $("#add-gpu-hashrate").attr("disabled", true);*/
                $("div[id='hashrate-from-gpu']," +
                    "label[for='hashrate-from-gpu']," +
                    "#chosen-gpu").css("display", "none");
                $("div[id='hashrate-from-pool']," +
                    "label[for='hashrate-from-pool']").css("display", "");
                // $("#delete-gpu-hashrate").attr("disabled", true);
                // $("#get-pool-hashrate").removeAttr("disabled");
                $("#hashrate").attr("disabled", true);
                if (pool_hashrate > 0) 
                    $("#hashrate").val(pool_hashrate);
                else   
                    $("#hashrate").val("");                
                break;
            case "manually":
                $("div[id='hashrate-from-gpu']," +
                    "label[for='hashrate-from-gpu']," +
                    "#chosen-gpu").css("display", "none");
                $("div[id='hashrate-from-pool']," +
                    "label[for='hashrate-from-pool']").css("display", "none");
                $("#hashrate").removeAttr("disabled");
                if (manual_hashrate > 0)
                    $("#hashrate").val(manual_hashrate);
                else 
                    $("#hashrate").val("");
                break;
            }            
        });

        $("#hashrate").keyup(function() {
            manual_hashrate = parseFloat($("#hashrate").val());
            manual_hashrate = isNaN(manual_hashrate)? 0 : manual_hashrate;
        }); 

        $("#delete-gpu-hashrate").click(function() {
            var option = $("#chosen-gpu option:selected");
            var hashrate = parseFloat(option.attr("data-hashrate"));
            gpu_hashrate -= hashrate;
            if (gpu_hashrate > 0)
                $("#hashrate").val(gpu_hashrate);
            else 
                $("#hashrate").val("");
            option.remove();
        });
    </script>
</html>